
    *{
      margin: 0;
      padding: 0;
      font-family: sans-serif;
  }
  

  header{
    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-link, .cart{
    display: flex;
}

.nav-link{
    justify-content: space-between;
    list-style: none;
    display: inline-block;
    padding: 20px 25px;
}

.nav-link{
  flex: 1;
}

nav ul{
  margin-right: 50px;
  display: inline;
  
}

.nav-link a{
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.nav-link a::after{
  content: '';
  width: 0;
  height: 2px;
  background:  rgb(240, 127, 35);
  display: block;
  margin: auto;
  transition: .5s;
}

.nav-link a:hover::after{
  width: 100%;
}

.logo-container{
  width: 135px;
}

nav{
    padding-right: 100px;
}

.btn{
      margin-top: 10px;
      padding: 10px 20px;
      border: 0;
      background: rgba(73, 141, 187, 0.938);
      font-weight: bold;
      cursor: pointer;
      margin-left: 400px;
      float: right;
  }
  
  .btn:hover{
      background: rgb(240, 127, 35);
      transition: all 0.3s ease 0s;
  }

body, html{
  height: 100vh;
} 

body{
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 80% 80% 50% 20%;
  grid-template-areas: 
    "header header"
    "sect1 sect2"
    "sect3 sect4"
    "main main"
    "footer footer"
}

header{
  grid-area: header;
}

.sect1{
  grid-area: sect1;
}

.sect2{
  grid-area: sect2;
}

.sect3{
  grid-area: sect3;
}

.sect4{
  grid-area: sect4;
}

main{
  grid-area: main;
  
}

footer{
  grid-area: footer;
  background: rgba(73, 141, 187, 0.938);
}

table{
  display: inline-table;
  padding-right: 30px;
  padding-left: 300px;
}

td{
  padding: 20px;
  
}

i{
  margin-left: 80px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.5s;
}